
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
body{
    background-color: rgb(0, 0, 0);
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 55, 253, 0.36);
    padding: 10px;
    position:sticky;
    top: 0;
    z-index: 1;
}
.navM li{
    display: inline-block;
    padding: 10px;
}
.navM li a{
    text-decoration: none;
    color: rgba(251, 251, 251, 0.926);
    font-size: 20px;
    transition: 0.8s;
}
.navM li a:hover{
    background-color: rgba(217, 217, 224, 0.259);
    font-size: 25px;
    height: 10px;
}
.main{
    background-image: url(./pexels-raine-nectar-413274.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.welcome{
    top: 85%;
    left: 25%;
    position: absolute;
    font-size: 60px;
    color: rgb(168, 166, 253);
}
h1{
    color: snow;
    position: absolute;
    text-align: center;
    font-size: 75px;
    margin-left: 35%;
    margin-top: 20%;
}
@media (max-Width:700px){
    h1{
        font-size: 55px;
        margin-left: 15%;
        text-align: center;
    }
    .welcome{
        left: 0;
        text-align: center;
    }
}
/*Hotel Branches*/
.HOB{
    color: snow;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    padding-top: 200px;
    animation-name:none;
    animation-duration: 5s;
}
.container{
    padding-top: 5%;
    color: snow;
    font: 20px;
    background-color: rgb(0, 0, 0);
}
.box{
    margin: 40px;
    height: 400px;
    text-align: left;
    padding: 48px;
    color: snow;
    line-height: 1.5;
    width: 1000;
    box-shadow: 0 5px 10px snow;

}
.box1{
    background-image: url(./Cin\ red.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto;

}
#CR{
    color: rgb(115, 3, 3);
    font-style: italic;
    font-size: 40px;
}
#CRD{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
}
#M1{
    text-decoration: none;
    float: left;
    margin-top: -10px;
    color: aliceblue;
    font-size: 20px;
    transition: 0.5s;
}
#M1:hover{
    font-size: 25px;
}
.box2{
    background-image: url(./Cinnamon-Grand-Colombo-Exterior.jpg);
    background-repeat: no-repeat;
    background-position-x:right ;
    background-size: auto;
}
#CG{
    color: gold;
    font-style: italic;
    font-size: 40px;
}
#CGD{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
}
#M2{    
    text-decoration: none;
    float: left;
    margin-top: -10px;
    color: aliceblue;
    font-size: 20px;
    transition: 0.5s;  
}
#M2:hover{
    font-size: 25px;
}
.box3{
    background-image: url(./cin\ bey.jpg);
    background-repeat:no-repeat ;
    background-position-x:right ;
    background-size:auto ;
}
#CB{
    color: purple;
    font-style: italic;
    font-size: 40px;
}
#CBD{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
}
#M3{
    text-decoration: none;
    float: left;
    margin-top: -10px;
    color: aliceblue;
    font-size: 20px;
    transition: 0.5s; 
}
#M3:hover{
    font-size: 25px;
}
@media (max-width: 600px){
    .welcome{
        font-size: 50px;
        text-align: center;
    }
    .box{
        background-color: #0000004b;
        background-blend-mode: darken;
    }
    #CRD{
        display: none;
    }
    #CGD{
        display: none;
    }
    #CBD{
        display: none;
    }
}

/*Lists*/
.olist{
    font-size: 20px;
    text-decoration: none;
    color: white;
    list-style: upper-roman;
    margin: 10%;
    height: fit-content;
    width: 80vw;
    padding: 10px;
    line-height: 1.5;
    box-shadow: 0px 2px 2px 2px snow;

}
.olist a{
    color: white;
    font-size: 30px;
}
.olist h2{
    text-align: center;
    font-size: 35px;
}
#E1P{
    font-size: 20x;
    font-style: italic;
}
#E2P{
    font-size: 20px;
    font-style: italic;
}

.ulist{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 10%;
    height: fit-content;
    width: 80vw;
    padding: 10px;
    line-height: 1.5;
    box-shadow: 0px 2px 2px 2px snow;
}
.ulist a{
    color: white;
    font-size: 30px;
}
.ulist h2{
    text-align: center;
    font-size: 35px;
}
#RP{
    font-size: 20px;
    font-style: italic ;
}
@media (max-width: 600px){
    .olist a, h2{
        padding: 2px;
        font-size: 15px;
    }
    #E1P{
        font-size: 15px;
        font-style: normal;
    }
    #E2P{
        font-size: 15px;
        font-style: normal;
    }
    .ulist a, h2{
        padding: 2px;
        font-size: 15px;
    }
    #R1P{
        font-size: 15px;
        font-style: normal;
    }
    #R2P{
        font-size: 15px;
        font-style: normal;
    }
}
/*Hotel Branches and the tables*/
#C1{
    display: block;
    background-image: url(./HB.jpg);
    height: 100vh;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.Grand{
    color:  white;
}
#CGH{
    text-align: center;
    text-justify: auto;
    font-size: 50px;
    font: bold;
    font-style:italic;
    text-decoration: underline;
    color: gold;
}
.Grand p{
    text-align: center;
    margin-top: 40px;
    font-size: 19px;
    font-style: oblique;
}
.CGH_Price_table{
    margin: 5% auto;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
}
.CGH_Price_table thead{
    font-size: 20px;
}
.CGH_Price_table td{
    padding: 12px 15px;
    text-align: center;
    border: 2px solid snow;
}
.CGH_Price_table th{
    background-color: rgba(31, 31, 30, 0.729);
}

/******/
.Red{
    color: snow;
}
#CR2{
    text-align: center;
    text-justify: auto;
    font-size: 50px;
    font: bold;
    font-style:italic;
    text-decoration: underline;
    color: red;
}
.Red p{
    text-align: center;
    margin-top: 40px;
    font-size: 19px;
    font-style: oblique;
}
.CR_Price_table{

    margin: 5% auto;
    width: 90%;
    height: 60%;
    border-collapse: collapse;
}
.CR_Price_table thead{
    font-size: 20px;
}
.CR_Price_table td{
    padding: 12px 15px;
    text-align: center;
    border: 2px solid snow;
}
.CR_Price_table th{
    background-color: rgba(31, 31, 30, 0.729);
}
@media (max-width:700px) {
    #Des{
        display: none;
    }
}

/*****/
.Bey{
    color: snow;
}
#CB2{
    text-align: center;
    text-justify: auto;
    font-size: 50px;
    font: bold;
    font-style:italic;
    text-decoration: underline;
    color: purple;
}
.Bey p{
    text-align: center;
    margin-top: 40px;
    font-size: 19px;
    font-style: oblique;
}
.CB_Price_table{
    margin: 5% auto;
    width: 90%;
    height: 60%;
    border-collapse: collapse;
}
.CB_Price_table thead{
    font-size: 20px;
}
.CB_Price_table td{
    padding: 12px 15px;
    text-align: center;
    border: 2px solid snow;
}
.CB_Price_table th{
    background-color: rgba(31, 31, 30, 0.729);
}

/*Adventures*/
.Ad{
    color: snow;
}
.AdH{
    background-image: url(./Ad1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.Ad_1{
    text-align: center;
}
.Ad_1 h2{
    color: lightgreen;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: underline;
}
#YS1{
    height: 80vh;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Ad_1 p{
    color: snow;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 40px;
    text-align: center;
}
.Ad_1 iframe{
    width: 100%;
}
.Ad_1 a{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-family:'Bebas Neue', sans-serif;
    color: snow;

}
.Ad_2 h2{
    color: lightblue;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    padding-top:100px ;
    text-decoration: underline;
}
#CS1{
    height: 80vh;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Ad_2{
    color: snow;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.Ad_2 p{
    color: snow;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
    text-align: center;
}
.Ad_2 iframe{
    width: 100%;
}
.Ad_2 a{
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;
    color: snow;
}
@media(max-width:700px){
    .AdH h1{
        font-size: 55px;
        text-align: center;
    }
}


/*Restaurants*/
.F_Rest{
    color: snow;
}
.F_Rest img{
    height: 80vh;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top:solid 4px blue;
    border-right:solid 4px red;
    border-left:solid 4px purple;
    border-bottom: solid 3px blue;
    border-radius: 8%;
}
.F_Rest a{
    color: white;
    margin-left: 50%;
    font-size: 30px;
}
.RH{
    background-image: url(Rest1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.Rest_1 h2{
    color: gold;
}
.Rest_2 h2{
    color: red;
}
.Rest_3 h2{
    color: purple;
}
#RH2{
    padding-top: 200px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
#Rest_P{
    text-align: center;
    font-size: 25px;
}
/*Event Linking to Restaurant*/
.Wed{
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 80vw;
    line-height: 1.5;
    box-shadow: 0 5px 10px snow;
    background-image: url(Wedding\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.TP{
    margin-left: auto;
    margin-right:auto ;
    margin: 10%;
    height: 70vh;
    width: 80vw;
    line-height: 1.5;
    box-shadow: 0 5px 10px snow;
    background-image: url(prosperity.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Wed H3{
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 10%;
}
.TP h3{
    font-size: 50px;
    text-align: center;
    color: black;
    padding-top: 10%;
}
#EM{
    text-decoration: none;
    margin-left: 42%;
    font-size: 40px;
    color: black;
    transition: 0.5s;
}
#EM:hover{
    border-radius: 10px;
    background-color: black;
    color: white;
}
@media (max-width: 700px){
    .RH h1{
        font-size: 55px;
        text-align: center;
    }
}

/*Events*/
#E_H{
    background-image: url(./Events.jpg);
    padding-left: 5%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}
.Wed1{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    width: 90vw;
    line-height: 1.5;
    background-image: url(CG-GrandWay-D.jpg);
    background-color: rgba(0, 0, 0, 0.605);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;
    color: snow;
    
}
.Wed1 h3{
    font-size: 50px;
    text-align: center;
}
.Wed1 p{
    font-size: 35px;
    text-align: center;
}
.Wed1 a{
    text-decoration: none;
    color: snow;
    margin-left: 45%;
    font-size: 35px;
    transition: 0.5s;
}
.Wed1 a:hover{
    background-color: rgba(0, 0, 0, 0.826);
    background-blend-mode: darken;
    margin-left: 44.25%;
    padding: 10px;
    border-radius: 30%;
    border:solid 1px gold;
}

.TP1{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    width: 90vw;
    line-height: 1.5;
    background-image: url(Bey-Taste-prosperity-.jpg);
    background-color: rgba(0, 0, 0, 0.605);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;
    color: snow;
}
.TP1 h3{
    font-size: 50px;
    text-align: center;
}
.TP1 p{
    font-size: 35px;
    text-align: center;
}
.TP1 a{
    text-decoration: none;
    color: snow;
    margin-left: 45%;
    font-size: 35px;
    transition: 0.5s;
}
.TP1 a:hover{
    background-color: rgba(0, 0, 0, 0.826);
    background-blend-mode: darken;
    margin-left: 44.25%;
    padding: 10px;
    border-radius: 30%;
    border:solid 1px purple;
}
@media (max-width: 700px){
    .Wed1{
        height: 50vh;
    }
    .Wed1 h3{
        font-size: 35px;
    }
    .Wed1 P{
        display: none;
    }
    .Wed1 a{
        margin-left: 15%;
    }
    .TP1{
        height: 50vh;
    }
    .TP1 h3{
        font-size: 35px;
    }
    .TP1 p{
        display: none;
    }
    .TP1 a{
        margin-left: 15%;
    }
}

/*booking*/
.Form-buttons button{
    background-color: rgb(0, 174, 255);
}
#booking-form {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background: rgb(0, 119, 255);
}

div.elem-group {
    margin: 20px 0;
}

div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}

label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
}

div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    height: 250px;
}

hr {
    border: 1px dotted #ccc;
}

button {
    height: 50px;
    background: rgb(134, 2, 216);
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
}

button:hover {
    background: #333;
}

/*Adventure*/
#Adventure-form {
    padding-bottom: 10%;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
}
#booking{
    margin-top: 5%;
    color: black;
}
#booking p{
 font-size:large ;
}
#booking h2{
    font-size: larger;
    text-align: center;
}
#overallBookingRM{
    font-size: 20px;
    color: black;
    font-style: italic;
}
#AN{
    font-size:40px
}
/*footer design*/
footer p,footer h3, footer h4{
    font-size: 15px;
    color: white;
}
footer{
    text-decoration: none;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: rgba(6, 55, 253, 0.36);
    color: #fff;
    padding: 40px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.FD{
    flex-basis: 20%;
    padding: 10px;
}

footer p{
    text-align: center;
}
.FD h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.FD P{
    font-size: 25px;
    font-family: 'Lobster', cursive;;
}
.email-id{
    width: fit-content;
    border-bottom: #fff 1px solid;
    text-align: center;
}
.footlogo{
    width: 100px;
    margin-bottom: 30px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}